@import 'resets';
@import 'variables';

@mixin flexdisplay {
    display: flex;
}


body {
    background-color: rgba(0, 6, 59, 0.285);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

//  sections
.container {
    // border: 1px blue solid;
    padding: .5em;
    margin: 2.5rem 0;
}


header {
    box-shadow: $shadow;
    background-color: $primary-color;
    padding: 1.5em;
}

h1 {
    text-align: $centerAlign;
    color: $alBlue;
}

ul {
    @include flexdisplay;
    list-style: $none;
    justify-content: $centerAlign;
    padding: 0;

    li {
        margin: .75rem;

        // background-color: white;

    }
}

a {
    display: block;
    cursor: pointer;
    text-decoration: $none;
    border-radius: .3rem;
    width: 3em;
    text-align: $centerAlign;
    background-color: $alBlue;
    padding: .1em;
    box-shadow: $shadow;
    transition-duration: .5s;
    transition-timing-function: linear;
}

a:hover {
    background-color: $primary-color;
    color: antiquewhite;
}

.sec,
.sec_2 {
    max-width: 550px;
    margin: 0 auto;
    /* border: 1px red solid; */
}

// table start

.all_t {
    width: $hundred;
    border: 1px solid black;
    color: white;
    border-collapse: collapse;

}

td {
    border-bottom: 1px solid;
    color: black;
    padding: .5em;
    margin: 2em;
    background-color: antiquewhite;

}

.tableRow {
    width: $hundred;
}

.table-head {
    background-color: $primary-color;
    font-weight: 700;
    border: $none;
    color: $alBlue;
}

// table end

.sec_2 {
    padding: .6rem;
    @include flexdisplay;
    border: 1px solid black;
    background-color: $primary-color;
    color: $alBlue;    
}

p:first-child {
    font-weight: 600;
    padding-right: .3em;
}

.sec_3 {
    margin-top: 2rem;
    /* border: 1px solid green; */
    max-width: 1045px;
    padding:4rem 0;
    width: $hundred;
    margin: 0 auto;
}

h2 {
    background-color: $primary-color;
    margin-bottom: 2em;
    height: 50px;
    @include flexdisplay;
    justify-content: $centerAlign;
    align-items: $centerAlign;
    border-radius: .2em;
    box-shadow: $shadow;
    color: $alBlue;
}

.img_div {
    @include flexdisplay;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
    
    
}

.img_card {
    /* border: 1px solid pink; */
    background-color: antiquewhite;
    max-width: 250px;
    border-radius: .5rem;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: $shadow

}

img {
    width: $hundred;
    border-radius: 50%;
    
}

.title {
    @include flexdisplay;
    height: 40px;
    justify-content: $centerAlign;
    align-items: $centerAlign;
    font-weight: 500;
}

// Screen size

@media (max-width: 430px) {
    .sec_3 {
        margin: 0;
    }
     .img_card {
        max-width: 340px;
        width: 100%;
        margin: 0 auto;
     }
}